@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-darker text-gray-100 font-sans antialiased overflow-x-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-darker; 
}
::-webkit-scrollbar-thumb {
  @apply bg-surface rounded;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600; 
}
